.uc-res .t004 .t-col_8 {
  max-width: 800px;
}

.uc-res .t004 .t-col {
  margin-left: 0;
}

.pxb-char-count .tn-atom.gc {
  background-color: #fcc94f;
  color: #333333;
  padding: 4px;
}

.pxb-char-count .tn-atom.ec {
  background-color: #fc4f4f;
  color: #ffffff;
  padding: 4px;
}

.pxb-enhance {
  cursor: pointer;
}

.pxb-copy-prompt {
  cursor: pointer;
}

.pxb-enhanced-prompt {
  width: 800px !important;
}

.pxb-response {
  text-wrap-mode: wrap;
  font-family: 'Cairo';
  background-color: #fffdf3;
  padding: 1.5rem;
  border-radius: 0;
  border: 1px #a4a4a4 dashed;
  font-family: 'Cairo';
  color: #333333;
}

.pxb-form-lang .t-input-title {
  line-height: 1.4;
  margin-bottom: 5px;
  color: #8c7a11 !important;
  font-size: 14px !important;
}

.pxb-card .tn-atom:hover {
  background-color: #f3db51 !important;
}

/* Hide and disable*/
.hide {
  display: none !important;
}

.disabled {
  opacity: 0.5; /* Make it look faded */
  pointer-events: none; /* Disable clicks */
  cursor: not-allowed; /* Change the cursor */
}

/* Animation */
/* Loading spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(193 192 43);
  border-top: 2px solid #978d41;
  border-radius: 50%;
  animation: spin 1slinear infinite;
  margin-left: 0;
}
