.uc-res .t004 .t-col_8 {
  max-width: 800px;
}

.uc-res .t004 .t-col {
  margin-left: 0;
}

.pxb-enhance {
  cursor: pointer;
}

.pxb-copy-prompt {
  cursor: pointer;
}

.pxb-enhanced-prompt {
  width: 800px !important;
}

.pxb-response {
  text-wrap-mode: wrap;
  font-family: 'Cairo';
  background-color: #fffdf3;
  padding: 1.5rem;
  border-radius: 12px;
  border: 2px #a4a4a4 dashed;
  font-family: 'Cairo';
  color: #333333;
}

.t-form .t-text {
  padding-bottom: 10px;
  line-height: 1.5;
}
/* Hide */
.uc-copy-prompt,
.uc-step_title2,
.uc-scale-container {
  display: none;
}
